.term_exit {
  animation: term_exit_slider 1s;
}

@keyframes term_exit_slider {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100vh);
  }
}

.term_wrap_div {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.term_overlay_div {
  position: fixed;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(45, 45, 45, 0.5);
}

.term_overlay_div.hidden {
  animation: term_overlay_div_slider_hidden 1s;
  animation-fill-mode: forwards;
}

@keyframes term_overlay_div_slider_hidden {
  0% {
    top: 0;
  }

  100% {
    top: -100%;
  }
}

.term_overlay_div.able {
  animation: term_overlay_div_slider_able 1s;
  animation-fill-mode: forwards;
}

@keyframes term_overlay_div_slider_able {
  0% {
    top: 100%;
  }

  100% {
    top: 0;
  }
}

.term_content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 90vw;
  height: 90%;
  margin: auto;
  background: #fff;
}
