{
	"presets": ["@babel/preset-env", "@babel/preset-react"],
	"plugins": [
		["@babel/plugin-transform-react-jsx"],
		[
			"@babel/plugin-transform-runtime",
			{
				"regenerator": true
			}
		],
		["@babel/transform-flow-strip-types"],
		["@babel/proposal-class-properties"],
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"@F_syonet": "./frontend/syonet",
					"@F_admin": "./frontend/admin",
					"@www": "./"
				}
			}
		]
	]
}
