{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@www": "./"
        }
      },
      "@babel/plugin-proposal-optional-chaining"
    ]
  ]
}
