.header_wrap_ul {
	background: #ebffe7;
	height: 10%;
	display: flex;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	list-style: none;
}

.header_wrap_ul li:first-child {
	margin-right: auto;
	flex: 1 0 auto;
}
