.hamburger_icon {
  width: 8vh;
  max-width: 80px;
  height: 8vh;
  max-height: 80px;
  padding: 0;
  background: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
}

.hamburger_icon:hover {
  background: rgb(255, 255, 255);
}

.hamburger_mark_top {
  width: 5vh;
  max-width: 75px;
  height: 3px;
  margin: auto;
  margin-bottom: 1vh;
  background-color: rgb(255, 255, 255);
  transition: background-color 1s;
}

.hamburger_mark {
  width: 5vh;
  max-width: 75px;
  height: 3px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  transition: background-color 1s;
}

.hamburger_mark_bottom {
  width: 5vh;
  max-width: 75px;
  height: 3px;
  margin: auto;
  margin-top: 1vh;
  background-color: rgb(255, 255, 255);
  transition: background-color 1s;
}

.hamburger_icon:hover > .hamburger_mark_top,
.hamburger_icon:hover > .hamburger_mark,
.hamburger_icon:hover > .hamburger_mark_bottom {
  background: rgb(0, 0, 0);
}
