.image_area {
	position: relative;
}

.image {
	width: 150px;
	height: 150px;
	object-fit: contain;
}

.close_icon {
	width: 4vh;
	height: 4vh;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 45px;
	background: #ffffff;
	cursor: pointer;
}

.close_icon svg {
	width: 4vh;
	height: 4vh;
}

.close_icon svg path {
	stroke: #000000;
}
