{
	"env": {
		"node": true
	},
	"extends": ["eslint:recommended", "prettier", "plugin:prettier/recommended"],
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 6,
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true
		}
	},
	"rules": {
		"linebreak-style": ["error", "unix"],
		"no-console": 0,
		"rest-spread-spacing": ["error", "never"],
		"no-unused-vars": [
			1,
			{
				"vars": "all",
				"args": "none"
			}
		],
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"trailingComma": "all",
				"useTabs": true,
				"semi": false
			}
		]
	}
}
