.button {
  overflow: hidden;
  font-size: 2vh;
  background-color: #ebffe7;
  border-radius: 2vw;
  outline: 0;
  cursor: pointer;
}

.button:active {
  background-color: #fff;
}

.button a {
  display: block;
  padding: 1vh;
  color: #000;
  text-decoration: none;
}

.button span {
  display: block;
  padding: 1vh;
  color: #000;
  text-decoration: none;
}
